.gridSection {
    position: relative;
}

.container {
    height: 100vh;
    position: relative;
    display: flex;
}

.box1 {
    background: url("https://www.iima.ac.in/sites/default/files/2022-10/Diverse-Community.jpg");
    background-size: cover;
    color: white;
    width: 50vw;
    font-size: 1.6em;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    padding: 5% 5%;
    text-align: left;
}

.box1>h1 {
    position: relative;
    font-family: 'Averia Serif Libre', cursive;
}

.box1 > .overlay{
    position: absolute;
}

.box1>h1:hover {
    text-decoration: underline;
}

.box1>p {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, transparent, black);
}

.inner1>.inner1Data>h1 {
    font-family: 'Averia Serif Libre', cursive;
}

.inner1>.inner1Data>h1:hover {
    text-decoration: underline;
}

.inner1>.inner1Data>p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em;
}


.inner1 {
    font-size: 25px;
    color: white;
    background-color: rgb(191, 42, 42);
    height: 700px;
}

.inner1Data {
    width: 58%;
    text-align: right;
    position: relative;
    right: -25%;
    top: 14%;
}

.box2>p {
    position: absolute;
    top: 1%;
    right: 17%;
    width: 20%;
    font-family: 'Noto Sans', sans-serif;
}

.box2 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.inner2 {
    height: 700px;
    background-color: #f8f8f8;
    text-align: left;
}

.inner2>h1 {
    color: #1B2F6E;
    font-size: 3.3em;
    font-family: 'Averia Serif Libre', cursive;
    margin-left: 13%;
}

.inner2>p {
    position: absolute;
    font-size: 1.5em;
    top: 67%;
    left: 57%;
    width: 38%;
    font-family: 'Noto Sans', sans-serif;
}

.container2 {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.box3 {
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

.inner3 {
    height: 50%;
    color: white;
    background-color: #1B2F6E;
    padding: 0 10%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner3>h1 {
    font-size: 2.1em;
    font-family: 'Averia Serif Libre', cursive;
}

.inner3>h1:hover {
    text-decoration: underline;
}

.inner3>p {
    position: relative;
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
}

.inner4 {
    height: 50%;
    background: url("https://res.cloudinary.com/dz1vsgxm5/image/upload/v1716225344/nith-cse-website/ndqxsdpf4bijsi6qpgpi.jpg");
    background-size: cover;
}

.box4 {
    width: 33.3%;
}

.inner5 {
    height: 50vh;
    background: url("https://res.cloudinary.com/dz1vsgxm5/image/upload/v1716225342/nith-cse-website/a79gm543xxhdn0enrlck.png");
    background-size: cover;
}

.inner6 {
    height: 50vh;
    color: white;
    background-color: rgb(191, 42, 42);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10%;
}

.inner6 h1 {
    position: relative;
    font-size: 2.1em;
    font-family: 'Averia Serif Libre', cursive;
}

.inner6 h1:hover {
    text-decoration: underline;
}

.inner6 p {
    position: relative;
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
}

.boxVideo {
    width: 114%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.box5 {
    width: 33.4%;
    height: 100vh;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box5>.overlay{
    position: absolute;
}

.box5>h1 {
    position: relative;
    font-family: 'Averia Serif Libre', cursive;
}

.box5>h1:hover {
    text-decoration: underline;
}

.box5>p {
    position: relative;
    width: 59%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
}


@media screen and (max-width:800px){
    .container{
        flex-direction: column;
    }
    .box1{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >.overlay{
            position:absolute;
        }
    }

    .box1>h1{
        top: 0;
    }

    .box1>p{
        width: 80%;
        left: 0;
        bottom: 0;
        position: relative;
        font-size: 0.8em;
    }

    .box2{
        flex-direction: row;
        width: 100%;
        height: 50%;
    }
    .inner1{
        width: 50%;
    }
    .inner1Data{
        width: 100%;
        text-align: center;
        right: 0;
        top: 3%;
    }
    .inner1Data>p{
        font-size: 0.8em !important;
    }
    .inner2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 50%;
        text-align: center;
    }
    .inner2>p{
        font-size: 1.2em;
        top: 0;
        left: 0;
        position:relative;
        width: 80%;
    }
    .inner2>h1{
        font-size: 2.5em;
        margin-left: 0%;
    }
    .container2{
        flex-direction: column;
        height: 100%;
    }
    .box3{
        width: 100%;
        flex-direction: row;
        height: 50vh;
    }
    .inner3{
        width: 50%;
        height: 100%;
    }
    .inner4{
        width: 50%;
        height: 100%;
    }
    .box4{
        display: flex;
        width: 100%;
        height: 50vh;
    }
    .inner5{
        width: 50%;
        height: 100%;
    }
    .inner6{
        width: 50%;
        height: 100%;
    }
    .box5{
        width: 100%;
        height: 50vh;
        padding: 0 10%;
        text-align: center;
    }
    .box5>p{
        width: 100%;
    }
    .boxVideo{
        height: 100%;
    }
}

@media screen and (max-width:600px){
    .container{
        height: 150vh;
    }
    .box2{
        flex-direction: column;
    }
    .inner1{
        width: 100%;
    }
    .inner2{
        width: 100%;
        padding: 0 4%;
    }
    .box1>p{
        font-size: 0.7em;
    }
    .inner1Data{
        padding: 0 4%;
    }
    .inner1Data>p{
        font-size: 0.7em !important;
    }
    .inner2>p{
        width: 100%;
        font-size: 1.1em;
        top: -10%;
    }
    .box3{
        flex-direction: column;
        height: 75vh;
    }
    .inner3{
        width: 100%;
        text-align: left;
    }
    .inner4{
        width: 100%;
    }
    .box4{
        flex-direction: column-reverse;
        height: 75vh;
    }
    .inner5{
        width: 100%;
    }
    .inner6{
        width: 100%;
    }
}